.file-input {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file-name {
  font-size: 0.875rem;
  opacity: 0.8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-input__native {
  display: none;
}
