version: "3.9"

services:
  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    environment:
      TZ: America/Guayaquil
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    environment:
      TZ: America/Guayaquil
    ports:
      - "8080:80"