.upload-panel {
  max-width: 480px;
  margin: 24px auto;
  padding: 8px 16px;
}

mat-card-content {
  margin-top: 12px;
  margin-bottom: 12px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
